#glass-navbar {
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  backdrop-filter: blur(10px); /* Blurring effect */
  -webkit-backdrop-filter: blur(10px); /* Support for Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Border to add depth */
  z-index: 1000;
}

/* Default (Option 1: Dark Overlay with Reduced Blur) */
body {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #fdfdfd;
}


body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/op4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: rgba(0, 0, 0, 0.7); Dark overlay */
  filter: blur(5px); /* Reduced blur */
  opacity: 0.27; /* Slightly lower opacity */
  z-index: 0;
}



.underline-link {
  position: relative;
}

.underline-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Controls the space between text and underline */
  width: 100%;
  height: 4px; /* Thickness of the underline */
  background-color:#6366f1; /* Color of the underline */
  border-radius: 3px; /* Optional: for smoother underline edges */
}



