/* body {
  margin: 0;
  height: 100vh;
  position: relative;
  background-color: #f0f0f0;
  overflow: hidden;
} */

/* .svg-background {
  position: absolute;
  bottom:-300px;
  left:300px;
  width: 350px; 
  opacity: 0.7; 
  filter: blur(4px);
  transform: scale(5); 
  transition: transform 0.3s ease-in-out;
  z-index: -1;
} */


/* .svg-background:hover {
  transform: scale(1.5);
} */